 <!DOCTYPE html>
<html>
<head>
    <title>Recipe 1</title>
</head>
<body>

<div style="
    width:100%;
    background-color:#f4a261;
    padding:20px;
    text-align:center;
    border-bottom:4px solid #333;
">
    <h1 style="
        margin:0;
        font-size:40px;
        letter-spacing:3px;
        font-family:Arial, sans-serif;
        color:white;
    ">
        RECIPE BOOK
    </h1>
</div>

<h1>{{ recipe.name }} Ingredients</h1>

<ul>
  {% for item in recipe.ingredients %}
    <li>{{ item.name }} - {{ item.quantity }}</li>
  {% endfor %}
</ul>

<a href="/">Back to Recipe List</a>


</body>
</html>
